.container{
    margin: 100px 0 0 400px;
    border: 1px solid black;
    height: 400px;
    width: 400px;
    background-image: url(bg\ img.jpg);
    border-radius: 5px;
}
.list{
    padding-left: 90px;
}h1{
    color: aliceblue;
}
.id{
    height: 30px;
    padding: 10px;
    border-radius: 10px;
}